.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: #fafafa;
}

.page main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: #000;
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: #666;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  border-radius: 128px;
  background: #000;
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: #383838;
  }
}

@media (max-width: 600px) {
  .page main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #000;
  }

  .page main {
    background-color: #000;
  }

  .intro h1 {
    color: #ededed;
  }

  .intro p {
    color: #999;
  }

  .button {
    background: #ededed;
    color: #000;
  }

  .button:hover {
    background: #ccc;
  }
}
